<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget 
	xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0" 
	xmlns:android="http://schemas.android.com/apk/mobione/android"
	id="aakararts.kbl_psp" 
	version="1.1.0">
    
    <name>KBL_PSP</name>
    <description>App to operate with PSP model. 
Client - Kirloskar Brothers Ltd.
(c) AakarArts 2015</description>
    <author email="sagar@aakararts.com" href="http://www.aakararts.com.com">Aakar Arts</author>
    
    <!-- Either rename your prj startup html file to index.html or replace index.html below
         with the name of your project startup html file 
    -->
    <content src="KBL_PSP.html" />
    
    <!-- Uncomment and edit to specify a specific phonegap version 
         otherwise use PhoneGap Build will use the most recent version 
    -->
    <!-- <preference name="phonegap-version" value="3.5.0"/> -->
    
	<preference name="StatusBarOverlaysWebView" value="false"/> 
	<preference name="StatusBarBackgroundColor" value="#000000"/>
	<preference name="StatusBarStyle" value="lightcontent"/>
    <!-- <preference name="ios-statusbarstyle" value="black-opaque"/> -->
        
     <!-- For a descripton of preferences see 
     	  http://docs.build.phonegap.com/en_US/configuring_preferences.md.html#Preferences 
     -->
    <preference name="permissions" value="none"/>
    <preference name="orientation" value="landscape"/>
    <preference name="target-device" value="tablet"/>
    <preference name="fullscreen" value="true"/> <!-- set false to show android statusbar -->
    <preference name="webviewbounce" value="true"/>
    <preference name="prerendered-icon" value="true"/>
    <preference name="stay-in-webview" value="false"/>
    <preference name="detect-data-types" value="true"/>
    <preference name="exit-on-suspend" value="true"/>
    <preference name="show-splash-screen-spinner" value="true"/>
    <preference name="SplashScreen" value="screen" />
 	<preference name="SplashScreenDelay" value="5000" />
    <!-- <preference name="auto-hide-splash-screen" value="true"/> -->    
    <preference name="disable-cursor" value="false"/>
    <preference name="android-minSdkVersion" value="7"/>
    <preference name="android-installLocation" value="auto"/>
        
    <!-- Core cordova/phonegap plugins -->
    <gap:plugin name="org.apache.cordova.battery-status"/>
    <gap:plugin name="org.apache.cordova.camera"/>
    <gap:plugin name="org.apache.cordova.media-capture"/>
    <gap:plugin name="org.apache.cordova.console"/>
    <gap:plugin name="org.apache.cordova.contacts"/>
    <gap:plugin name="org.apache.cordova.device"/>
    <gap:plugin name="org.apache.cordova.device-motion"/>
    <gap:plugin name="org.apache.cordova.device-orientation"/>
    <gap:plugin name="org.apache.cordova.dialogs"/>
    <gap:plugin name="org.apache.cordova.file"/>
    <gap:plugin name="org.apache.cordova.file-transfer"/>
    <gap:plugin name="org.apache.cordova.geolocation"/>
    <gap:plugin name="org.apache.cordova.globalization"/>
    <gap:plugin name="org.apache.cordova.inappbrowser"/>
    <gap:plugin name="org.apache.cordova.media"/>
    <gap:plugin name="org.apache.cordova.network-information"/>
    <gap:plugin name="org.apache.cordova.splashscreen"/>
    <gap:plugin name="org.apache.cordova.vibration"/>
    
    <!-- MobiOne plugins  -->
    <gap:plugin name="com.badrit.emailcomposer"/>
    <gap:plugin name="com.genuitec.mobione.phoneui"/>
    <gap:plugin name="com.phonegap.plugins.childbrowser"/>
    <gap:plugin name="org.apache.cordova.statusbar"/>
    
	<!-- Default app icon appearing on device homescreen -->

	<!-- Android app branding artwork -->
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="www/branding/screen.png"/>
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="www/branding/screen.png"/>
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="www/branding/screen.png"/>
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="www/branding/screen.png"/>


	<!-- iOS app branding artwork -->
    <icon gap:platform="ios" width="144" height="144" src="branding/icon/ios/icon-72-2x.png"/>

	<!-- Whitelist of urls this app may open in an InAppBrowser -->
    <access origin="*"/>
    
    <!-- Configure remote debugging on Android 4.4 & greater.                     -->
    <!--  Overrides MyEclipse Build dialog's debug mode.                          -->
    <!-- Set android:debuggable="true" to enable remote debugging.                -->
    <!-- Set android:debuggable="false" or remove element for production release. -->
     
    <gap:config-file parent="/manifest" platform="android">
    	 <application android:debuggable="false"/>
	</gap:config-file>
	
    <gap:platform name="android"/>
    <icon height="57" gap:platform="ios" width="57" src="www/branding/logo.png"/>
    <icon height="114" gap:platform="ios" width="114" src="www/branding/logo.png"/>
    <icon height="72" gap:platform="ios" width="72" src="www/branding/logo.png"/>
    <icon height="512" gap:platform="ios" width="512" src="www/branding/logo.png"/>
    <icon height="60" gap:platform="ios" width="60" src="www/branding/logo.png"/>
    <icon height="120" gap:platform="ios" width="120" src="www/branding/logo.png"/>
    <icon height="76" gap:platform="ios" width="76" src="www/branding/logo.png"/>
    <icon height="152" gap:platform="ios" width="152" src="www/branding/logo.png"/>
    <preference name="deployment-target" value="6.0"/>
    <preference name="android-windowSoftInputMode" value="stateAlwaysHidden|adjustResize"/>
    <preference name="splash-screen-duration" value="5000"/>
    <icon src="www/branding/icon.png"/>
    <icon gap:platform="android" gap:density="ldpi" src="www/branding/icon.png"/>
    <icon gap:platform="android" gap:density="mdpi" src="www/branding/icon.png"/>
    <icon gap:platform="android" gap:density="hdpi" src="www/branding/icon.png"/>
    <icon gap:platform="android" gap:density="xhdpi" src="www/branding/icon.png"/>
    <icon gap:platform="android" gap:density="xxhdpi" src="www/branding/icon.png"/>
    <preference name="phonegap-version" value="3.6.3"/>
    <gap:splash src="www/branding/screen.png"/>
    <gap:splash gap:platform="android" gap:density="ldpi" src="www/branding/screen.png"/>
    <gap:splash gap:platform="android" gap:density="mdpi" src="www/branding/screen.png"/>
    <gap:splash gap:platform="android" gap:density="hdpi" src="www/branding/screen.png"/>
    <gap:splash gap:platform="android" gap:density="xhdpi" src="www/branding/screen.png"/>
    <gap:splash gap:platform="android" gap:density="xxhdpi" src="www/branding/screen.png"/>
    <gap:splash gap:platform="android" gap:qualifier="land-ldpi" src="www/branding/screen.png"/>
    <gap:splash gap:platform="android" gap:qualifier="land-mdpi" src="www/branding/screen.png"/>
    <gap:splash gap:platform="android" gap:qualifier="land-hdpi" src="www/branding/screen.png"/>
    <gap:splash gap:platform="android" gap:qualifier="land-xhdpi" src="www/branding/screen.png"/>
    <gap:splash gap:platform="android" gap:qualifier="land-xxhdpi" src="www/branding/screen.png"/>
	
</widget>
